html, body{
    background-color: #000000;
    background: linear-gradient(315deg, #000000 0%, #414141 74%) no-repeat fixed center bottom;

  }
  body{
    padding-top: 50px;
  }
  
  h1{
    padding: 20px 20px;
  }

  h6, p{
      font-weight: 600;
      text-align: center;
  }

  .main-nav-link {
    font-weight: 700;
    color: black;
    text-transform: uppercase;
    font-size: 2rem;
    margin: 0 1rem;
    border: none;
    background-color: #00000000;
  }

  .main-nav-link.active {
    color: rgb(226, 223, 223);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2rem;
    margin: 0 1rem;
    border: none;
    background-color: #00000000;
  }

  #search{
    display: inline;
    width: 230px;
    height: 30px;
    border: 1px solid black;
    outline: none;
    border-radius: 20px;
  }

  .container{
    background-color: #7ee9b7b2;
    height: 75%;
    width: 75%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 10px;
    margin: 0 auto;	
    min-height:500px;
	  max-width: 948px
  }

  img{
    width: 100%;
    height: auto;
  }
  
  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .column {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 30px;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  
  
  @media (max-width: 560px) {
    .column {
      -ms-flex: 0 0 33%;
      flex: 0 0 33%;
      max-width: 33%;
    }
  }

